.idea/.name
.idea/compiler.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/EDC-PoC.iml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
consumer/build/distributions/consumer-shadow.tar
consumer/build/distributions/consumer-shadow.zip
consumer/build/distributions/consumer.tar
consumer/build/distributions/consumer.zip
consumer/build/libs/consumer-all.jar
consumer/build/libs/consumer.jar
consumer/build/scripts/consumer
consumer/build/scripts/consumer.bat
consumer/build/scriptsShadow/consumer
consumer/build/scriptsShadow/consumer.bat
consumer/build/tmp/jar/MANIFEST.MF
consumer/build/tmp/shadowJar/MANIFEST.MF
extensions/data-plane/data-plane-postgres/build/libs/data-plane-postgres.jar
extensions/data-plane/data-plane-postgres/build/resources/main/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/previous-compilation-data.bin
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/DataPlanePostgresExtension.class.uniqueId0
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/PgCfg.class.uniqueId1
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/PostgresSink.class.uniqueId6
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/PostgresSinkFactory.class.uniqueId7
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/PostgresSource.class.uniqueId5
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/PostgresSource$1.class.uniqueId4
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/PostgresSource$2.class.uniqueId2
extensions/data-plane/data-plane-postgres/build/tmp/compileJava/compileTransaction/stash-dir/PostgresSourceFactory.class.uniqueId3
extensions/data-plane/data-plane-postgres/build/tmp/jar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
provider/build/classes/java/main/org/eclipse/edc/poc/CloudBootstrapExtension.class
provider/build/distributions/provider-shadow.tar
provider/build/distributions/provider-shadow.zip
provider/build/distributions/provider.tar
provider/build/distributions/provider.zip
provider/build/libs/provider-all.jar
provider/build/libs/provider.jar
provider/build/resources/main/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
provider/build/scripts/provider
provider/build/scripts/provider.bat
provider/build/scriptsShadow/provider
provider/build/scriptsShadow/provider.bat
provider/build/tmp/compileJava/previous-compilation-data.bin
provider/build/tmp/jar/MANIFEST.MF
provider/build/tmp/shadowJar/MANIFEST.MF
provider/resources/test.json
.idea/.gitignore
.env
